.home {
  // AboutMe
  .about-me {
    background: url("/top-img.png") right 30% / 40% no-repeat;
    border-radius: 4px;
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 10px;
    margin-top: 20px;
    .about__inner {
      padding: 24px;
      display: flex;
    }

    .about__profile {
      width: 250px;
      text-align: center;
      .about__profile__img {
        img {
        }
      }
      .profile__name {
        font-weight: bold;
        font-size: 20px;
        margin-top: 8px;
      }
      .profile__detail {
        margin-top: 4px;
        white-space: nowrap;
        font-size: 12px;
      }
      .sns__list {
        justify-content: center;
        margin-top: 12px;
        display: flex;
        gap: 20px;
      }
      .sns__item {
        a {
        }
        img {
        }
      }
    }

    .about__detail {
      margin-left: 20px;
      .about__head {
        font-weight: bold;
        font-size: 18px;
      }
      .about__description {
        margin-top: 12px;
        line-height: 1.8;
        font-size: 14px;
      }
      .button.about__btn {
        margin-top: 20px;
        border: 1px solid var(--main);
        color: var(--main);
        padding: 8px 12px;
        font-size: 12px;
        border-radius: 999px;
        font-weight: bold;
      }
    }
  }
}
